html.dark {
  --slidev-slide-container-background: rgb(18, 18, 18) !important;
}

html:not(.dark) {
  --slidev-slide-container-background: rgb(255, 255, 255) !important;
}

html:not(.dark) .slidev-layout.end {
  background-color: var(--slidev-slide-container-background);
  color: rgba(24, 24, 24, var(--tw-text-opacity));
}

img {
  @apply rounded;
}

h2 {
  @apply mb-4;
}

h3 {
  @apply mt-4 mb-2;
}
